<html>
    <body>
        <h1>Listing All Houses [Admin's Only]</h1>
        <%= link_to 'New House', new_house_path, class: "btn-primary" %><br /><br />
        <table> <!-- create a table with the top row saying "Adddress      Latitude      Longitude      Price      Square Feet      Amenities      Contact Information      Pictures      Options", and other rows having each houses info or a link to show, edit or delete //-->
            <tr>
                <th class="BorderDraw">Address</th>
                <th class="BorderDraw">Latitude</th>
                <th class="BorderDraw">Longitute</th>
                <th class="BorderDraw">Price</th>
                <th class="BorderDraw">Square Feet</th>
                <th class="BorderDraw">Amenities</th>
                <th class="BorderDraw">Contact Information</th>
                <th class="BorderDraw">Pictures</th>
                <th colspan="3" style="text-align: center;">Options</th> <!-- in the table, have options display in the middle of a 3-column length column //-->
            </tr>
            <% @houses.each do |house| %>
            <tr>
                <td><%= house.address %></td>
                <td><%= house.lat %></td>
                <td><%= house.long %></td>
                <td><%= house.price %></td>
                <td><%= house.sqft %></td>
                <td><%= house.amenities %></td>
                <td><%= house.contact_info %></td>
                <td><%= image_tag house.pictures.url(:small) %></td>
                <td><%= link_to 'Show', house_path(house), class: "btn-primary" %></td>
                <td><%= link_to 'Edit', edit_house_path(house), class: "btn-primary" %></td>
                <td><%= link_to 'Delete', house_path(house), class: "btn-primary",
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td> <!-- allow deletion of house, and put confirmation on it //-->
            </tr>
            <% end %>
        </table>
        <br />
        <%= link_to 'Back To Home', home_user_path(current_user), class: "btn-primary" %>
    </body>
</html>
