<div style="background-color:white">
    <h1>House Information</h1>
    <p>
        <strong>Address:</strong>
        <%= @house.address %>
    </p>

    <p>
        <strong>Latitude:</strong>
        <%= @house.lat %>
    </p>

    <p>
        <strong>Longitude:</strong>
        <%= @house.long %>
    </p>

    <p>
        <strong>Price: $</strong>
        <%= @house.price %>
    </p>

    <p>
        <strong>Square Feet:</strong>
        <%= @house.sqft %>
    </p>

    <p>
        <strong>Amenities:</strong>
        <%= @house.amenities %>
    </p>

    <p>
        <strong>Contact Information:</strong>
        <%= @house.contact_info %>
    </p>

    <p>
        <strong>Pictures:</strong>
        <%= image_tag @house.pictures.url(:small) %> <!-- show the pictures of the house //-->
    </p>

    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@house.lat}%2C#{@house.long}" %><br /><br /> <!-- show the location of the house on a map //-->
</div>
 
<%= link_to 'Edit', edit_house_path(@house), class: "btn-primary" %>
<%= link_to 'Back', houses_path, class: "btn-primary" %>
