<% if @user.errors.any? %> <!-- if any errors, display them here //-->
    <div id="error_explanation">
        <h2>
            <%= pluralize(@user.errors.count, "error") %> prohibited
            this data from being saved:
        </h2>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<!-- area below is for the form elements/fields //-->
<%= form_for @user, :url => changeEmail_update_user_path(@user) do |f| %>
    <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div>
        <%= f.submit "Submit", class: "btn-primary" %>
        <%= link_to "Back", settings_user_path(@user), class: "btn-primary" %>
    </div>
<% end %>
