<html>
    <body>
        <h1>Listing All Users [Admin's Only]</h1>
        <table>
            <tr>
                <th class="BorderDraw">Name</th>
                <th class="BorderDraw">Email</th>
                <th class="BorderDraw">Admin</th>
                <th class="BorderDraw">Edit</th>
            </tr>
            <% @users.each do |user| %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.admin %></td>
                <td><%= link_to "Edit", makeAdmin_user_path(user) %></td>
            </tr>
            <% end %>
        </table>
        <br />
        <%= link_to 'Back To Home', home_user_path(current_user) %>
    </body>
</html>
