<% if @user.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@user.errors.count, "error") %> prohibited
            this data from being saved:
        </h2>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>
        
<%= form_for @user, :url => makeAdmin_update_user_path(@user) do |f| %>
    <div class="field">
        <p>
            <!-- How I got this working: http://stackoverflow.com/questions/20379311/how-to-get-blank-checkboxes-to-pass-as-false-to-params //-->
            
            <%= f.label :admin %>
            <!-- <%= f.text_field :admin, :required => true, :class => 'input' %> //-->
            <%= hidden_field_tag :admin, false %>
            <%= check_box_tag :admin, checked = true, unchecked = false %>
            <!-- <%= f.check_box :admin %> //-->
            
        </p>
    </div>
    <div>
        <%= f.submit "Submit", class: "btn btn-primary" %> 
        <%= link_to "Back", users_path, class: "btn btn-primary" %>
    </div>
    <br />
    
<% end %>