<div style="background-color:white">
<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @school.lat %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @school.long %>
</p>

</div>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@school.lat}%2C#{@school.long}" %> <!-- show the location of the school on a map //-->
<br /><br />

<%= link_to 'Edit', edit_school_path(@school) %>
<%= link_to 'Back', schools_path %>
