<div style="background-color:white">
<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @school.address %>kg
</p>

<p>
  <strong>Latitude:</strong>
  <%= @school.lat %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @school.long %>
</p>

</div>
 
<%= link_to 'Edit', edit_school_path(@school) %> <!-- | //-->
<%= link_to 'Back', schools_path %>