
<html>
    
    <body>
        <h1>Signup</h1>
        <div id="signup_area">
            
            <!--
            <h2>Name</h2>
            <input type="test"><br />
            <br />
            <h2>Email</h2>
            <input type="text"><br />
            <br />
            <h2>Password</h2>
            <input type="password"><br />
            //-->
            <%= form_for @user do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name %>

                <%= f.label :email %>
                <%= f.email_field :email %>

                <%= f.label :password %>
                <%= f.password_field :password %>
    
                <%= f.label :password_confirmation, "Confirmation" %>
                <%= f.password_field :password_confirmation %>

                <%= f.submit "Create my account", class: "btn btn-primary" %>
            <% end %>
        </div>
    
     </body>

</html>